{% extends "admin/base_admin.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/Pemesanan.css' %}">

<div class="container p-20">
    <div class="box mt-5 p-4">
        <h2>Pesanan</h2>

        <table class="table"> 
            <thead>
                <tr>
                    <th>Nama User</th>
                    <th>Nama Ruangan</th>
                    <th>Waktu Peminjaman</th>
                    <th>Tanggal Pakai</th>
                    <th>Alasan</th>
                </tr>
            </thead>
            <tbody>
                {% for pesanan in pesanan_list %}
                    <tr>
                        <td>{{ pesanan.username.username }}</td>  
                        <td>{{ pesanan.nama_ruangan }}</td>
                        <td>{{ pesanan.get_waktu_peminjaman_display }}</td>
                        <td>{{ pesanan.tanggal_pakai }}</td>
                        <td>{{ pesanan.alasan }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}